{# templates/book/addBook.html.twig #}

<h1>Ajouter un livre</h1>

{{ form_start(form) }}

    <div>
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
    </div>

    <div>
        {{ form_label(form.author) }}
        {{ form_widget(form.author) }}
    </div>

    <div>
        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}
    </div>

    <div>
        {{ form_label(form.published) }}
        {{ form_widget(form.published) }}
    </div>

    <div>
        {{ form_widget(form.Ajouter) }}
    </div>

{{ form_end(form) }}
